.questions {
        background-color: #f8fffe; 
        height: 50px;
        margin-top: 20px;
        padding: 15px;
        max-width: 600px;
        border-left: 8px solid green;
        box-sizing: border-box;     
    }

    .questions p {
        margin: 0;
        padding: 0;
        line-height: 20px;
        white-space: normal;
    }